<div class="row">
  <div class="col s6">
    <h1>About Me</h1>

    <p>Hello i'm Kevin Finley let me tell you about myself. I'm a hard working guy who loves his tech.</p>
  </div>
  <div class="right">
    <img src="http://placehold.it/350x350">
  </div>
</div>
