<div class="row">
  <div class="col s6">
    <h1>About Me</h1>

    <p>Hello i'm Kevin Finley let me tell you about myself. I'm a hard working guy who loves his tech.</p>
  </div>
  <div class="right">
    <%= image_tag "https://dl.dropboxusercontent.com/s/f8kkf7sqlh18n1t/20941128.png?dl=0", size: 350 %>
  </div>
</div>
