body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  padding-left: 58px;
  position: fixed;
}

p {
  font-size: 17px;
}

h1,
.contact {
  color: #2196f3;
}

#finley {
  color: #2196f3;
}
