<footer class="page-footer grey darken-3">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Kevin Finley</h5>
            <p class="grey-text text-lighten-4">Thank you for looking at my website. Have a great day!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © <%= Time.new.year %> Copyright Kevin Finley
      </div>
    </div>
  </div>
</footer>
