<footer class="page-footer grey darken-3">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Kevin <span id="finley">Finley</span></h5>
          <p class="grey-text text-lighten-4">Thank you for looking at my website. Checkout my Github and Twitter</p>
        </div>
        <div class="col l6 s12">
          <a class="twitter-follow-button" href="https://twitter.com/kftwotwo" data-size="large">Follow @kftwotwo</a><br>
          <script>window.twttr = (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function(f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));</script>
          <iframe src="https://ghbtns.com/github-btn.html?user=kftwotwo&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px" href="https://github.com/kftwotwo"></iframe>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © <%= Time.new.year %> Copyright Kevin Finley
      </div>
    </div>
  </div>
</footer>
