<header>
  <div class="row">
    <div class="navbar-fixed">
      <nav class="grey darken-3">
        <div class="nav-wrapper ">
          <a href="/" class="brand-logo">Kevin <span id="finley">Finley</span></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Contact", new_contact_path %></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
